@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/CollegeMaster.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5" style="min-height:200px;font-size:20px;color:navy;margin-left:0%;">
            <u style="margin-top: 5%; font-family: 'Times New Roman';color:black;font-size:25px;font-family:weight bold;margin-top:1%;">About Us:-</u>
            <p style="margin-top: 1%; font-family: 'Times New Roman';color:navy">MMIT SANT KABIR NAGER Establised in year of 2016 is affiliated  to Bord of Technical Education (BTE) and approved by All India Council for Technical
            <p style="margin-top: 2%; font-family: 'Times New Roman';color:navy;">Education  Santakabir Nagar. The institute is well designed and maintanied, contemporary laboratories, and recrational facilities make the MMIT campus one of
            <p style="margin-top: 1%; font-family: 'Times New Roman';color:navy;">the best in the region providing its students an ideal enviorement to hone their skils in an demanding world
            <p style="margin-top: 5%; font-family: 'Times New Roman';color:navy">Our vision is to provide and countinually improve academic environment and systems which give total and enable students to devlope their full potential and

        </div>
        <div class="col-sm-6">
            <img src="~/assets/images/college.png" />
        </div>
    </div>
</div>
