@{
    ViewBag.Title = "Electrical";
    Layout = "~/Views/Shared/CollegeMaster.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <p style="color:navy;font-family:'Times New Roman';font-size:35px;">About Us:-</p>
            <p style="color:navy;font-family:'Times New Roman';font-size:18px;">
                Electrical engineering is one of the newer branches of engineering, and dates back to the late 19th century. It is the branch of engineering that deals with the technology of electricity. Electrical engineers work on a wide range of components, devices and systems, from tiny microchips to huge power station generators.Employment of electrical and electronics engineers is projected to grow by 4 percent between now and 2022, because of these professionals' "versatility in developing and applying emerging technologies," the BLS says.

                The applications for these emerging technologies include studying red electrical flashes, called sprites, which hover above some thunderstorms. Victor Pasko, an electrical engineer at Penn State, and his colleagues have developed a model for how the strange lightning evolves and disappears. Another electrical engineer, Andrea Alù, of the University of Texas at Austin, is studying sound waves and has developed a one-way sound machine. "I can listen to you, but you cannot detect me back; you cannot hear my presence," Alù told LiveScience in a 2014 article.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="~/assets/images/h1.jpg" style="height:500px;" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p style="color:white;font-family:'Times New Roman';font-size:25px;border: 2px solid white;text-align:center;background:#122b40">Limit Of Admission Student Seats</p>
            <p style="color:navy;font-family:'Times New Roman';font-size:17px;">Into the branch of computer Science avaliable steets of 60 . into the computer science branch only 60 student are to take admission . and bteup board are provide the latter entry of some seats for eligiable student .which student are take the admission into the latter entery compelsary after the qualify the Intermidiate. latter entery means student directly take the admission into the second year.and all subject are read  of first year compalsary.in this only high school pass student are take the admission into the ploytechnic branch of computer science.</p>
            <p style="color:navy;font-family:'Times New Roman';font-size:18px;"></p>
        </div>
        <div class="col-sm-4">
            <p style="color:white;font-family:'Times New Roman';font-size:25px;border: 2px solid white;text-align:center;background:#122b40">
                Eligibilty For Admission
            </p>
            <p style="color:navy;font-family:'Times New Roman';font-size:18px;">MMIT Santkabir Nagar eligibilty criteria is developed to shortlist candidate with subject knowledge  which serves as the foundation for each program.fulfilling the eligibilty criteria is only the first step and does not entitle a condidate to admission.to provide a fair and equal  oppertunity to every  asprint.to acknowledge high potential academic achivers including students who desrve financial Aid ,the University offers generous scholarship in undergraduate programs, covering part or full academic & living expenses.</p>
        </div>
        <div class="col-sm-4">
            <p style="color:white;font-family:'Times New Roman';font-size:25px;border: 2px solid white;text-align:center;background:#122b40">
                Admission Requirements
            </p>

            <p style="color:navy;font-family:'Times New Roman';font-size:18px;">Admission to the professional master's program in computer science is competitive:only the best qualified aplication are offered a seat.therefore, it is imperative that students familiarize themselves with the admission requirements in order to ensure they submit a strong application.since conditional and qualifying admission offers are made very rarely and only in exceptional cases,students who qualify for regular admission have higher chances of acceptance than those who only qualify for conditional or qualifying admission.</p>
        </div>
    </div>

</div>
