@{
    ViewBag.Title = "Electronic";
    Layout = "~/Views/Shared/CollegeMaster.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <p style="color:navy;font-family:'Times New Roman';font-size:35px;">About Us:-</p>
            <p style="color:navy;font-family:'Times New Roman';font-size:18px;">
                Electronic engineering, or electronics engineering is a form of engineering associated with electronic circuits, devices and the equipment and systems that use them.

                Electronic engineering utilises a variety of different types of electronic components from the more traditional analogue components through to digital electronic components, microprocessors and microcontrollers as well as programmable logic devices. This means that electronic engineering can incorporate a large variety of different areas.

                The field of electronic engineering includes a variety more specific electronic engineering fields including: analogue electronics, digital electronics, consumer electronics, embedded systems and power electronics
            </p>
        </div>
        <div class="col-sm-6">
            <img src="~/assets/images/Escalator.jpg" style="height:500px;" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p style="color:white;font-family:'Times New Roman';font-size:25px;border: 2px solid white;text-align:center;background:#122b40">Limit Of Admission Student Seats</p>
            <p style="color:navy;font-family:'Times New Roman';font-size:17px;">Into the branch of Electronic Enggineers avaliable steets of 60 . into the Enggineers branch only 60 student are to take admission . and bteup board are provide the latter entry of some seats for eligiable student .which student are take the admission into the latter entery compelsary after the qualify the Intermidiate. latter entery means student directly take the admission into the second year.and all subject are read  of first year compalsary.in this only high school pass student are take the admission into the ploytechnic branch of computer science.</p>
            <p style="color:navy;font-family:'Times New Roman';font-size:18px;"></p>
        </div>
        <div class="col-sm-4">
            <p style="color:white;font-family:'Times New Roman';font-size:25px;border: 2px solid white;text-align:center;background:#122b40">
                Eligibilty For Admission
            </p>
            <p style="color:navy;font-family:'Times New Roman';font-size:18px;">MMIT Santkabir Nagar eligibilty criteria is developed to shortlist candidate with subject knowledge  which serves as the foundation for each program.fulfilling the eligibilty criteria is only the first step and does not entitle a condidate to admission.to provide a fair and equal  oppertunity to every  asprint.to acknowledge high potential academic achivers including students who desrve financial Aid ,the University offers generous scholarship in undergraduate programs, covering part or full academic & living expenses.</p>
        </div>
        <div class="col-sm-4">
            <p style="color:white;font-family:'Times New Roman';font-size:25px;border: 2px solid white;text-align:center;background:#122b40">
                Admission Requirements
            </p>

            <p style="color:navy;font-family:'Times New Roman';font-size:18px;">Admission to the professional master's program in Elctronic Engginers is competitive:only the best qualified aplication are offered a seat.therefore, it is imperative that students familiarize themselves with the admission requirements in order to ensure they submit a strong application.since conditional and qualifying admission offers are made very rarely and only in exceptional cases,students who qualify for regular admission have higher chances of acceptance than those who only qualify for conditional or qualifying admission.</p>
        </div>
    </div>

</div>
