@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/CollegeMaster.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list_none grid_filter">
                    <li><a href="#" class="current" data-filter="*">all</a></li>
                    <li><a href="#" data-filter=".library">Library</a></li>
                    <li><a href="#" data-filter=".campus">Campus</a></li>
                    <li><a href="#" data-filter=".events">Events</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="grid_container gutter_medium grid_col4 masonry">
                    <li class="grid-sizer"></li>
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>

                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    <li class="grid_item events">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>
                                <div class="text_holder text_white">
                                    <h5>Galley Title</h5>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END PORTFOLIO ITEM -->
                    <!-- START PORTFOLIO ITEM -->
                    @*<li class="grid_item events">
                            <div class="gallery_item">
                                <a href="#" class="image_link">
                                    <img src="~/assets/assets/images/gallery_item_small2_360X240.jpg" alt="Image" />
                                </a>
                                @*<div class="gallery_content">
                                    <div class="link_container">
                                        <a href="~/assets/assets/images/gallery_item16.jpg" class="image_popup"><span class="ripple"><i class="ion-image"></i></span></a>
                                    </div>
                                    <div class="text_holder text_white">
                                        <h5>Galley Title</h5>
                                    </div>
                                </div>
                            </div>
                        </li>*@
                    <!-- END PORTFOLIO ITEM -->
                </ul>
            </div>
        </div>
    </div>
</section>
