@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CollegeMaster.cshtml";
}

<!-- START SECTION BANNER -->
<section class="banner_section p-0 full_screen">
    <div id="carouselExampleFade" class="banner_content_wrap carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg overlay_bg_40" data-img-src="../assets/images/images.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-sm-12 text-center">
                                <div class="banner_content animation text_white" data-animation="fadeIn" data-animation-delay="0.8s">
                                    <h2 class="font-weight-bold animation text-uppercase" data-animation="fadeInDown" data-animation-delay="1s">Welcome To <span class="text_default">MMIT </span></h2>
                                    <p class="animation text-uppercase" data-animation="fadeInUp" data-animation-delay="1.5s">A new year welcommes a new generation of engineers. Connect with registration to start your AP Infotech journey.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg overlay_bg_40" data-img-src="../assets/images/banner2.jpg">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-sm-12 text-center">
                                <div class="banner_content animation text_white" data-animation="fadeIn" data-animation-delay="0.8s">
                                    <h2 class="font-weight-bold animation text-uppercase" data-animation="fadeInDown" data-animation-delay="1s"><span class="text_default">Technology</span> In Your Hand</h2>
                                    <p class="animation text-uppercase" data-animation="fadeInUp" data-animation-delay="1.5s">API challenges students to employ what they learn in the classroom to practical, real world situations. Explore options for all students from full-time to online and everything in-between.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
        </div>
        <div class="carousel-nav carousel_style1">
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <i class="ion-chevron-left"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <i class="ion-chevron-right"></i>
            </a>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION FEATURE -->
<section class="bg_gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 text-center">
                        <h2>Why Choose MMIT SantabirNagar</h2>
                    </div>
                    <p>We provide you the way to learn latest technologies so that you can make your own place in Technical Industry. We provide Job Application on many latest Technical Education as..</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'"> Experiance Teacher</h5>
                        <p>Into Our mmit college very Experiance Teacher too teach me and about each subject they teach to carefully and into mmit college all teacher are quallifiy b.tech and m.tech etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">Computer Lab</h5>
                        <p>Into mmit college are provide too more than faculity and he provides all student too computer lab faculity.into the computer lab very desktop are provide into the mmit college.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">Electrical Lab</h5>
                        <p>Into MMit college are availabel too electrical lab all student too much experiment and into computer lab are availabel too all equipment and very carefully to do all experiment.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">WorkShop</h5>
                        <p> Into mmit skn college to provide all workshop faculity related into the workshop experiment like electrical ,electronic and computer science.into the workshop...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">Smart CLASS</h5>
                        <p>Maha Maya of Information Technology are provide too smart classes and into the college of computer lab all experiment are to do soo projector and desktop.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">Physics Lab</h5>
                        <p> Into Physics lab all component are availabel into the physics lab and all experiment are to do soo into the physics lab.very lab related component....</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">Hostal Facilities</h5>
                        <p>Into the mmit college are availabel too hostal faculity and all and mesh , copboard and room are very goods and  different room and mesh availlabel into the hostal.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">Libray Facilities</h5>
                        <p>Into the MMIT college are provides too me library facilities and any type books are avail availabel into the college which are relates into my branch .and by the teacher too provide all student.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">Chemistry Lab</h5>
                        <p>Maha Maya of information technology are provide too very faculity into the mmit college chemistery lab are also availabel and by the teacher all experiment to do.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION FEATURE -->
<!-- START SECTION CATEGORIES -->
<section class="small_pb" style="background: url('../assets/images/counter_bg.jpg'); background-size: cover;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 text-center text_white">
                        <h1><span style="color:darkorange;">My Branches</span></h1>
                    </div>
                    <p style="color:floralwhite">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                    <div class="small_divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <img src="~/assets/images/about_img.jpg" alt="Image can't be loaded" />
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">Computer Science Enggineers</h5>
                        <p>Computer Science and Engineering is an academic program at some univerities that   integers the fields of computer science are include core subject releted IT .</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">Electrical Enggineers</h5>
                        <p>Electrical Engineers is an Engineering discipline concerned with the study design and application of equipment devices . </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon_box text-center bg-white icon_box_style2 box_shadow2 radius_all_10 animation" data-animation="fadeInUp" data-animation-delay="0.02s">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/banner5.jpg" alt="book" />
                    </div>
                    <div class="intro_desc">
                        <h5 style="font-family:'New Roman Time'">Electronic Enggineers</h5>
                        <p>Electronic comprises the physics Engineering technology and application that deal with the emission flow and control .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>
<!-- END SECTION CATEGORIES -->
<!--START SECTION GALLERY-->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8">
            <div class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                <div class="heading_s1 text-center">
                    <h2>Our Gallery</h2>
                </div>
                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                <div class="small_divider"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="1" data-toggle="modal" data-title=""
                   data-image="../assets/images/gallery_item1.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="../assets/images/gallery_item1.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="../assets/images/gallery_item1.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="../assets/images/gallery_item1.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="../assets/images/gallery_item1.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="../assets/images/gallery_item1.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="../assets/images/gallery_item1.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="../assets/images/gallery_item1.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="../assets/images/gallery_item1.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="../assets/images/gallery_item1.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="../assets/images/gallery_item1.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="../assets/images/gallery_item1.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="../assets/images/gallery_item1.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="../assets/images/gallery_item1.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Hello"
                   data-image="../assets/images/gallery_item1.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="../assets/images/gallery_item1.jpg"
                         alt="Another alt text">
                </a>
            </div>
        </div>

        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <button type="button" id="show-next-image" class="btn btn-secondary float-right">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END SECTION GALLERY-->
