@{
    ViewBag.Title = "view_Time_Table";
    Layout = "~/Views/Shared/princplemaster.cshtml";
}
@using System.Data.Sql;
@using System.Data;
@using mycollage.Models;
<link href="~/Content/css/akash.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/course.js"></script>
<script src="~/Content/css/akash.js"></script>
<script>
    $(document).ready(function () {
        $("#example").DataTable();
    });
</script>
<div class="container-fluid">
    <div class="row text-center panel panel-heading" style=" color:black; font-size: 25px; padding: 0px; margin: 0px; min-height: 50px;margin-top:1%;">
        <p>Time_Table</p>
    </div>
    <!--code for show details-->
    @{
        string cmd = "select * from tbl_TimeTable";
        DatabaseManager db = new DatabaseManager();
        DataTable dt = db.GetAllRecord(cmd);
        if (dt.Rows.Count > 0)
        {
             <div class="col-sm-12" style="overflow-y:scroll;height:500px">
            <table class="table table-responsive" id="example" width="100%">
                <thead><tr style="background-color: #0c79c3; box-shadow: inset 0 0 2em black; border: 1px solid black; margin-top: 1%;color:white;font-size:18px; "><th>Branch</th><th>sem</th><th>Download</th><th>Date</th></tr></thead>
                <tbody>

                    @for (int i = 0; i < dt.Rows.Count; i++)
                    {
                        <tr>
                            <td class="td1">@dt.Rows[i]["branch"]</td>
                            <td>@dt.Rows[i]["semester"]</td>

                            <td>
                                <a href="../Content/pic/@dt.Rows[i]["timetable"]"><span class="fa fa-download"></span></a>
                            </td>
                            <td>@dt.Rows[i]["timetabledate"]</td>
                        </tr>
                    }
                </tbody>
            </table>
                 </div>
        }
    }

    <!--End code for show details-->

</div>
