@{
    ViewBag.Title = "Attendence";
    Layout = "~/Views/Shared/TeacherMaster.cshtml";
}

<div class="container-fluid " style="font-family:'Times New Roman';">
    <div class="row text-center" style="background:gray;min-height:50px;font-size:25px;color:white;margin-top:-1%;font-family:bolder;">
        <p style="margin-top:10px;"> Attendence</p>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" style="margin-top:2%;">
            <form action="#" method="#">
            <div class="row">
                <label style="font-size:20px;">Select Course</label>
                <select class="col-sm-12 form-control" style="min-height:40px;">
                    <option> C.S</option>
                    <option> ELX</option>
                    <option>EE </option>
                </select>
            </div>
            <div class="row">
                <label style="font-size:20px;">Select Semester/Year</label>
                <select class="col-sm-12 form-control" style="min-height:40px;">
                    <option> 1</option>
                    <option>2 </option>
                    <option>3 </option>
                </select>
            </div>
            <div class="row">
                <label style="font-size:20px;">Select Subject</label>
                <select class="col-sm-12 form-control" style="min-height:40px;">
                    <option>java </option>
                    <option>DBMS </option>
                    <option>DSUC </option>
                </select>
            </div>
            <div class="row">
                <label style="font-size:20px;">Select Date</label>
                <div class="col-sm-12">
                    <input type="date"class="form-control" id="date" placeholder="Enter date" name="date" required />
                </div>
            </div>
            <div class="row" style="margin-top:3%;margin-left:75%;font-size:20px;">
                <button type="button" class="btn btn-primary btn-sm">Submit Marks</button>
            </div>
                </form>
        </div>
        <div class="col-sm-2"></div>
    </div>





</div>


