@{
    ViewBag.Title = "Student_Fine";
    Layout = "~/Views/Shared/TeacherMaster.cshtml";
}

<div class="container-fluid" style="font-family:'Times New Roman'">
    <div class="row text-center" style="background:gray;min-height:50px;font-size:25px;color:white;margin-top:-1%;font-family:bolder;">
        <p style="margin-top:10px;"> Student Fine</p>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form>
                <div class="col-sm-12" style=" margin-top:15px;"><input type="text" class="form-control" placeholder="Enter Rollno" name="Rollno" required /></div>
                <div class="col-sm-12" style=" margin-top:15px;"><input type="text" class="form-control" placeholder="Enter Fees" name="reson" required /></div>
                <div class="col-sm-12" style=" margin-top:15px;"><input type="text" class="form-control" placeholder="Enter Reson" name="reson" required /></div>
                <div class="row" style="margin-top:3%;margin-left:85%;font-size:30px;margin-top:2%;">
                    <input type="submit" class="btn btn-primary btn-sm"/>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
     </div>
</div>