@{
    ViewBag.Title = "Change_Password";
    Layout = "~/Views/Shared/StudentMaster.cshtml";
}
<script >
    function fncSubmit()
    {
        if(document.ChangePasswordForm.newPass.value != document.ChangePasswordForm.conPass.value)
        {
            alert('Confirm Password Not Matched...');
            document.ChangePasswordForm.conPass.focus();
            return false;
        }
        else {
            //document.ChangePasswordForm.submit();
            alert('Confirm Password Matched...');
        }
    }
</script>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" style="border:1px solid black;min-height:320px;margin-top:2%;">
        <div class="row" style="background-color: #0c79c3; color: white; box-shadow: inset 0 0 2em black; min-height: 2px; padding: 0px; margin: 0px; font-size: 20px; color: white; margin-top: 1%;">
            <div class="col-sm-12 text-center"><p>Change Password</p></div>
        </div>
        <div class="row" style="padding:0px;margin:0px;">
            <form action="" name="ChangePasswordForm" method="post" onSubmit="return fncSubmit();">

                <div class="form-group" style="color:black;">
                    <label>Old_Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="password" class="form-control" id="Password" placeholder="Enter Password " name="oldPass" required />
                    </div>
                </div>
                <div class="form-group" style="color:black;">
                    <label>New_Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="newPass" required />
                    </div>
                </div>
                <div class="form-group" style="color:black;">
                    <label>Conform_Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="conPass" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="submit" value="Submit" name="Submit" class="btn btn-success btn btn-block" style="background-color: #0c79c3; color: white; box-shadow: inset 0 0 2em black;">
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" value="Reset" name="Reset" class="btn btn-success btn btn-block" style="background-color: #0c79c3; color: white; box-shadow: inset 0 0 2em black;">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
</div>



