#head1
{
	background: yellow;min-height: 100px;
}
#head2
{
	background: blue;min-height: 100px;
}
#head3
{
	background: lime;min-height: 100px;
}
#head4
{
	background: pink;min-height: 100px;
}